</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const year = new Date(); %>
 <% const specYear = year.getFullYear(); %>
  <p>Copyright © <%= specYear %></p>
</footer>
</body>

</html>