<%- include("partials/header.ejs") %>

<section class="my__blog__home__main__content">
    <div class="my__blog__home__main__content__overlay"></div>
    <div class="my__blog__home__main__content__header">
        <div class="my__blog__home__main__content__header__title">
            Welcome To The Daily Kaizen Blog
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") %>