<%- include("partials/header.ejs") %>

<article>
    <div class="my__blog__home__header">
        <h1>
            Welcome To The Daily Kaizen Blog
        </h1>
    </div>
</article>


<%- include("partials/footer.ejs") %>