<form action="/submit" method="POST">
    <input type="file" accept=".png, .jpg, .svg">
    <input type="text" name="fName" placeholder="Blog Header title">
    <input type="submit" value="Create">
</form>