<!doctype html>
<html lang="">
<head>
    <meta charset="">
    <meta name="viewport" content="width=, user-scalable=, initial-scale=, maximum-scale=, minimum-scale=">
    <meta http-equiv="X-UA-Compatible" content="ie=">
    <title>Weekday Warrior</title>
</head>
<body>
<h1>
    Hey! <%= dayType %>, <%= advice %>!
</h1>
</body>
</html>