</main>
<footer class="my__blog__footer__section">
    <p class="my__blog__footer__section__text">
        Copyright © <%= new Date().getFullYear() %>
    </p>
</footer>
<script src="JS/behavior.js"></script>
</body>
</html>