<!doctype html>
<html lang="">
<head>
    <meta charset="">
    <meta name="viewport" content="width=, user-scalable=, initial-scale=, maximum-scale=, minimum-scale=">
    <meta http-equiv="X-UA-Compatible" content="ie=">
    <link rel="stylesheet" href="/styles/main.css">
    <title>home</title>
</head>
<body>
<header>
    <nav>
        <img src="images/kaizen.png">
        <ul>
            <list><a href="https://google.com" target="_blank">Home</a></list>
            <list><a href="/blog" target="_blank">Blog</a></list>
            <list><a href="https://google.com" target="_blank">Bio</a></list>
        </ul>
    </nav>
</header>

<main>