<!doctype html>
<html lang="">
<head>
    <meta charset="">
    <meta name="viewport" content="width=, user-scalable=, initial-scale=, maximum-scale=, minimum-scale=">
    <meta http-equiv="X-UA-Compatible" content="ie=">
    <link rel="stylesheet" href="/styles/main.css">
    <title>home</title>
</head>
<body>
<header>
    <nav class="my__blog__navigation">
        <div class="my__blog__navigation__image">
            <a href=""><img src="images/kaizen.png"></a>
        </div>
        <div class="my__blog__navigation__list">
            <ul>
                <list class="my__blog__navigation__list__items"><a href="https://google.com" target="_blank">Home</a></list>
                <list class="my__blog__navigation__list__items"><a href="/blog" target="_blank">Blog</a></list>
                <list class="my__blog__navigation__list__items"><a href="https://google.com" target="_blank">Bio</a></list>
            </ul>
        </div>

    </nav>
</header>

<main>